.CTA {
    background     : var(--gradient-bar);
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 2rem;
    border-radius  : 1rem;
}

.CTA_content {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : flex-start;
    cursor: default;
    user-select: none;
}

.CTA_content p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size  : 12px;
    line-height: 30px;
}

.CTA_content h3 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size  : 24px;
    line-height: 45px;
}

.CTA_btn {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-left    : 2rem;
}

.CTA_btn button {
    background   : #000;
    color        : #fff;
    font-family  : var(--font-family);
    font-weight  : 700;
    font-size    : 18px;
    line-height  : 30px;
    padding      : 0.5rem 1rem;
    border-radius: 2rem;
    border       : none;
    outline      : none;
    cursor       : pointer;
    min-width    : 150px;
}
.CTA_btn button:hover {
    box-shadow: 0 0 10px #fff;
}

@media screen and (max-width: 1080px) {
    .CTA {
        flex-direction: column;
        padding       : 1rem;
    }

    .CTA_btn {
        margin-left: 0;
    }

    .CTA_content p{
        width: 100%;
        text-align: center;
    }

    .CTA_content h3 {
        font-size: 22px;
        text-align: center;
    }
}

@media screen and (max-width: 900px) {
    .CTA_btn button {
        font-size: 16px
    }
}